@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
 
 :root {
    --darkCyan: hsl(185, 75%, 39%);
    --veryDarkDesaturatedBlue: hsl(229, 23%, 23%);
    --darkGrayishBlue: hsl(227, 10%, 46%);
    --darkGray: hsl(0, 0%, 59%);
 }

 * {
     box-sizing: border-box;
     padding: 0;
     margin: 0;
 }

 body {
     height: 100vh;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     font-family: 'Kumbh Sans', sans-serif;
     font-size: 20px;
     background-color: var(--darkCyan);
     position: relative;
     background-image: url('./images/bg-pattern-top.svg'), url('./images/bg-pattern-bottom.svg');
     background-position: 
        top -500px left -220px,
        bottom -580px right -220px;
     background-repeat: no-repeat;
 }

 .card {
     height: 430px;
     width: 410px;
     background: #fff;
     position: relative;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     border-radius: 20px;
 }   

 .card_pattern {
     height: 160px;
     width: 100%;
     position: absolute;
     top: 0;
     background: url('./images/bg-pattern-card.svg');
     border-top-left-radius: 20px;
     border-top-right-radius: 20px;
}
 
 #portrait {
     width: 120px;
     border-radius: 50%;
     position: absolute;
     top: 105px;
     left: 145px;
     border: 4px solid #fff;
 }

 .basic_info {
     position: absolute;
     top: 250px;
     display: flex;
}

#name {
    font-weight: 700;
    margin-right: 15px;
}

#city {
    position: absolute;
    top: 260px;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid rgb(221, 221, 221);
    font-size: 17px;
}


 .stats {
     position: absolute;
     top: 360px;
     width: 100%;
     display: flex;
     justify-content: space-around;
     align-items: center;
     padding: 0 30px;
 }

 .stat {
     text-align: center;
 }

 .number {
    font-weight: 700;
    margin-bottom: 5px;
 }

 .title {
     font-size: 12px;
     letter-spacing: 1px;
 }

 .grey {
     color: rgb(128, 128, 128);
     font-weight: 500;
 }

.attribution { 
    position: absolute;
    bottom: 30px;
    font-size: 11px; 
    text-align: center; }
.attribution a { 
    color: hsl(228, 45%, 44%); 
}
